* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f5f5;
}

header > img {
  width: 350px;
  border-radius: 5px;
}

header {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 30px 0;
}

h1 {
  font-size: 32px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 40px;
}

.left-part-header {
  margin-right: 30px;
}

.left-part-header > p {
  font-size: 19px;
  line-height: 29px;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 24px 0;
}

.MenuItems {
  margin: 0 auto;
  width: 820px;
}

.MenuItem {
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color: #fff;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 380px;
  display: flex;
  height: 160px;
  padding: 15px;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
}

.left-part-item {
  margin-right: 8px;
}

h3 {
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 8px;
}

.item-description {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 42px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 8px;
}

.item > img {
  width: 130px;
  height: 130px;
  border-radius: 15px;
  object-fit: cover;
}

.item:hover {
  box-shadow: 0 0 10px #333333;
}
