* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f5f5;
}

header > img {
  width: 350px;
  border-radius: 5px;
}

header {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 30px 0;
}

h1 {
  font-size: 32px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 40px;
}

.left-part-header {
  margin-right: 30px;
}

.left-part-header > p {
  font-size: 19px;
  line-height: 29px;
}

.MenuItems {
  margin: 0 auto;
  width: 820px;
}

.MenuItem {
  display: flex;
  flex-wrap: wrap;
}

.items {
  background-color: #fff;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 380px;
}

.item {
  display: flex;
  height: 160px;
}

.item-description {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 42px;
}

.item > img {
  width: 130px;
  height: 130px;
  border-radius: 15px;
}
